/*Notes: * resets everything */
*{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

/*************************************/
/*            Global CSS            */
/***********************************/

@font-face {
  font-family: 'Carrois Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Carrois Gothic'), local('CarroisGothic-Regular'), url(http://themes.googleusercontent.com/static/fonts/carroisgothic/v1/GCgb7bssGpwp7V5ynxmWy2IHn70NeZKJ0uStDo7Dza8.woff) format('woff');
}

body {
	background-color: #CCC;
	background-image:url('../images/bg.png');
	background-position: fixed;
}


p a, a:visited{
	color: rgba(10,81,109,1);
	text-decoration: none;
}

p a:hover{
	color: rgba(150,80,90,1);
}

b, strong{
	color: rgba(128,86,101,1);
}

i , em{
	color: rgba(105,153,127,1);
}

/*************************************/
/*            Header CSS            */
/***********************************/

header {
	max-width: 1400px;
	width: 70%;
	background-color: rgba(255,255,255,1);
	margin: 3em auto;
	padding: 1em;
	border-top: solid 0.4em rgba(39,43,38,1);
}

header a, a:visited {
	font-family: 'Carrois Gothic', sans-serif;
	font-size: 0.9em;
	color: rgba(168,168,168,1);
	text-decoration: none;
	display: inline;
	float: right;
	padding: 1em;
}

header a:hover {
	font-family: 'Carrois Gothic', sans-serif;
	font-size: 0.9em;
	color: rgba(10,81,109,1);
	text-decoration: none;
	display: inline;
	float: right;
	padding: 1em;
}

header h1 {
	color: rgba(39,43,38,1);
	font-family: 'Carrois Gothic', sans-serif;	
	font-size:  2.5em;
	text-transform: uppercase;
	font-weight: 600;
	display: inline;
}

h1 b {
	color: rgba(125,173,147,1);
	font-weight: 600;
	text-transform: lowercase;
}
/*************************************/
/*           Section CSS            */
/***********************************/

section {
	max-width: 1400px;
	width: 70%;
	margin: 1em auto;
	background-color: rgba(255,255,255,1);
	padding: 1em;
	float: center;
}

#planning {
	min-height: 31em;
}


#calendar {
	min-height: 20em;
}


@media screen and (max-width: 500px)
{
}

	
h1 {
	color: rgba(39,43,38,1);
	font-family: 'Carrois Gothic', sans-serif;	
	font-weight: normal;
	font-size: 2em;
	text-transform: uppercase;
}

h2 {
	color: rgba(10,81,109,1);
	font-family: 'Carrois Gothic', sans-serif;	
	font-weight: normal;
	font-size: 1.5em;
}	

p { 
	color: rgba(168,168,168,1);
	font-family: 'Carrois Gothic', sans-serif;
	text-indent: 2em;
	text-align: justify;
	font-size: 0.9em;
}

img {
	width: auto;
	max-width: 100%;
	min-height:0%;
	height: auto;
	max-height: 100%;
	min-width: 0%;
}

#planner {
	float: right;
	display: inline block;
	top: 0em;
	width: 53%;
}

/*************************************/
/*            Footer CSS            */
/***********************************/
footer {
	max-width: 1400px;
	width: 70%;
	background-color: rgba(39,43,38,1);
	margin: 3em auto;
	padding: 1em;
	clear: left;
}

footer p { 
	color: rgba(200,200,200,1);
	font-family: 'Carrois Gothic', sans-serif;
	text-align: center;
	font-size: 0.7em;
}

p a, a:visited {
	color: rgba(105,153,127,1);
	text-decoration: none;
}

/*************************************/
/*             Login CSS            */
/***********************************/
#login {
`   position: absolute;
    z-index: 0;
	background-color: rgba(255,255,255,1);
	background: linear-gradient(top, rgba(255,255,255,1), rgba(240,240,240,1));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(240,240,240,1));
	background: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(240,240,240,1));
	background: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(240,240,240,1));
	background: -o-linear-gradient(top, rgba(255,255,255,1), rgba(240,240,240,1));
	background: -webkit-gradient(linear, top, rgba(255,255,255,1), rgba(240,240,240,1));
	float: bottom;
	height: 40%;
	width: 40%;
	margin: 2em auto 2em auto;
	padding: 2em;
	box-shadow:
        0 0 0.1em rgba(0,0,0,0.2),  
        0 0.1em 0em rgba(0,0,0,.1),
		0 0.2em 0.1em rgba(255,255,255,1),
        0 0.3em 0 rgba(0,0,0,.1),
        0 0.4em 0.1em rgba(255,255,255,1),  
        0 0.5em 0 rgba(0,0,0,.1);
}

#login h2 {
    text-shadow: 0 0.1em 0 rgba(0,0,0,.3), 0px 0.2em 0 rgba(0,0,0,.1);
    text-transform: uppercase;
    text-align: center;
    color: rgba(39,43,38,1);
    margin: 0 0 1em 0;
    letter-spacing: 0.2em;
    font-family: 'Carrois Gothic', sans-serif;
	font-size: 1.7em;
    position: relative;
}

#login h2:after, #login h2:before {
    background-color: rgba(39,43,38,1);
    content: "";
    height: 0.01em;
    position: absolute;
    top: 0.6em;
    width: 4em;   
}

#login h2:after { 
    background-image: -webkit-gradient(linear, left top, right top, rgba(39,43,38,1),rgba(255,255,255,1));
    background-image: -webkit-linear-gradient(left, rgba(39,43,38,1),rgba(255,255,255,1));
    background-image: -moz-linear-gradient(left, rgba(39,43,38,1),rgba(255,255,255,1));
    background-image: -ms-linear-gradient(left, rgba(39,43,38,1),rgba(255,255,255,1));
    background-image: -o-linear-gradient(left, rgba(39,43,38,1),rgba(255,255,255,1));
    background-image: linear-gradient(left, rgba(39,43,38,1),rgba(255,255,255,1));     
    right: 0;
}

#login h2:before {
    background-image: -webkit-gradient(linear, right top, left top, rgba(39,43,38,1),rgba(255,255,255,1));
    background-image: -webkit-linear-gradient(right, rgba(39,43,38,1),rgba(255,255,255,1));
    background-image: -moz-linear-gradient(right, rgba(39,43,38,1),rgba(255,255,255,1));
    background-image: -ms-linear-gradient(right, rgba(39,43,38,1),rgba(255,255,255,1));
    background-image: -o-linear-gradient(right, rgba(39,43,38,1),rgba(255,255,255,1));
    background-image: linear-gradient(right, rgba(39,43,38,1),rgba(255,255,255,1));
    left: 0;
}

#inputs input {
    background: rgba(240,240,240,1);
	font-size: 0.9em;
	font-family: 'Carrois Gothic', sans-serif;
    padding: 0.7em;
    margin: 1em 3.5em 0em 3.5em;
    width: 70%;
    border: 0.1em solid rgba(200,200,200,1);
    border-radius: 0.4em;
		-moz-border-radius: 0.4em;
		-webkit-border-radius: 0.4em;
	box-shadow: 0 0.1em 0.1em rgba(200,200,200,1) inset, 0 0.1em 0 rgba(255,255,255,1);
		-moz-box-shadow: 0 0.1em 0.1em rgba(200,200,200,1) inset, 0 0.1em 0 rgba(255,255,255,1);
		-webkit-box-shadow: 0 0.1em 0.1em rgba(200,200,200,1) inset, 0 0.1em 0 rgba(255,255,255,1);
}

#inputs textarea {
    background: rgba(240,240,240,1);
    padding: 0.7em;
	font-size: 0.9em;
	font-family: 'Carrois Gothic', sans-serif;
    margin: 1em 3.5em 0em 3.5em;
    width: 70%;
    border: 0.1em solid rgba(200,200,200,1);
    border-radius: 0.4em;
		-moz-border-radius: 0.4em;
		-webkit-border-radius: 0.4em;
	box-shadow: 0 0.1em 0.1em rgba(200,200,200,1) inset, 0 0.1em 0 rgba(255,255,255,1);
		-moz-box-shadow: 0 0.1em 0.1em rgba(200,200,200,1) inset, 0 0.1em 0 rgba(255,255,255,1);
		-webkit-box-shadow: 0 0.1em 0.1em rgba(200,200,200,1) inset, 0 0.1em 0 rgba(255,255,255,1);
}

#inputs textarea:focus {
    background-color: rgba(255,255,255,1);
    border-color: rgba(125,173,147,1);
    outline: none;
	box-shadow: 0 0 0 0.1em rgba(10,81,109,1) inset;
		-moz-box-shadow: 0 0 0 0.1em rgba(10,81,109,1) inset;
		-webkit-box-shadow: 0 0 0 0.1em rgba(10,81,109,1) inset;
}

#inputs input:focus {
    background-color: rgba(255,255,255,1);
    border-color: rgba(125,173,147,1);
    outline: none;
	box-shadow: 0 0 0 0.1em rgba(10,81,109,1) inset;
		-moz-box-shadow: 0 0 0 0.1em rgba(10,81,109,1) inset;
		-webkit-box-shadow: 0 0 0 0.1em rgba(10,81,109,1) inset;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

#actions {
	padding: 0.3em;
	margin: 1em 4em 0em 4em;
	width: 70%;
}

#submit {		
    background-color: rgba(10,81,109,1);
    background-image: -webkit-gradient(linear, left top, left bottom, rgba(12,98,132,1), torgba(10,81,109,1));
    background-image: -webkit-linear-gradient(top, rgba(12,98,132,1), rgba(10,81,109,1));
    background-image: -moz-linear-gradient(top, rgba(12,98,132,1), rgba(10,81,109,1));
    background-image: -ms-linear-gradient(top, rgba(12,98,132,1), rgba(10,81,109,1));
    background-image: -o-linear-gradient(top, rgba(12,98,132,1), rgba(10,81,109,1));
    background-image: linear-gradient(top, rgba(12,98,132,1), rgba(10,81,109,1));
    border-color: rgba(8,63,85,1) rgba(4,28,38,1) rgba(8,63,85,1) rgba(4,28,38,1);
    color: rgba(255,255,255,1);
	border-width: 0.1em;
    border-style: solid;
	float: left;
    height: 2em;
    padding: 0em;
    width: 20%;
    font-family:'Carrois Gothic', sans-serif;
	font-size: 1em;
    border-radius: 0.2em;
		-moz-border-radius: 0.2em;
		-webkit-border-radius: 0.2em;
    box-shadow: 0 0 0.1em rgba(0,0,0,0.3), 0 0.1em 0 rgba(255,255,255,0.3) inset;  
		-moz-box-shadow: 0 0 0.1em rgba(0,0,0,0.3), 0 0.1em 0 rgba(255,255,255,0.3) inset;
		-webkit-box-shadow: 0 0 0.1em rgba(0,0,0,0.3), 0 0.1em 0 rgba(255,255,255,0.3) inset;  
}

#submit:hover,#submit:focus
{		
    background-color: rgba(12,98,132,1);
    background-image: -webkit-gradient(linear, left top, left bottom, rgba(10,81,109,1), rgba(12,98,132,1));
    background-image: -webkit-linear-gradient(top, rgba(10,81,109,1), rgba(12,98,132,1));
    background-image: -moz-linear-gradient(top, rgba(10,81,109,1), rgba(12,98,132,1));
    background-image: -ms-linear-gradient(top, rgba(10,81,109,1), rgba(12,98,132,1));
    background-image: -o-linear-gradient(top, rgba(10,81,109,1), rgba(12,98,132,1));
    background-image: linear-gradient(top, rgba(10,81,109,1), rgba(12,98,132,1));
}	

#submit:active
{		
    outline: none;
	box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5) inset;
		-moz-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5) inset;
		-webkit-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5) inset;		
}

#submit::-moz-focus-inner
{
  border: none;
}

#actions a
{
    color: rgba(125,173,147,1);    
    float: right;
    line-height: 1.5em;
    margin-left: 0.7em;
}

#actions a:hover
{
    color: rgba(12,98,132,1);
}

/*************************************/
/*             Planning CSS         */
/***********************************/
#plan {
`   position: absolute;
    z-index: 0;
	background-color: rgba(255,255,255,1);
	background: linear-gradient(top, rgba(255,255,255,1), rgba(240,240,240,1));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(240,240,240,1));
	background: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(240,240,240,1));
	background: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(240,240,240,1));
	background: -o-linear-gradient(top, rgba(255,255,255,1), rgba(240,240,240,1));
	background: -webkit-gradient(linear, top, rgba(255,255,255,1), rgba(240,240,240,1));
	display: inline block;
	float: left;
	width: 40%;
	height: 40%;
	margin: 1em;
	padding: 1em;
	box-shadow:
        0 0 0.1em rgba(0,0,0,0.2),  
        0 0.1em 0em rgba(0,0,0,.1),
		0 0.2em 0.1em rgba(255,255,255,1),
        0 0.3em 0 rgba(0,0,0,.1),
        0 0.4em 0.1em rgba(255,255,255,1),  
        0 0.5em 0 rgba(0,0,0,.1);
}

#plan h2 {
    text-shadow: 0 0.1em 0 rgba(0,0,0,.3), 0px 0.2em 0 rgba(0,0,0,.1);
    text-transform: uppercase;
    text-align: center;
    color: rgba(39,43,38,1);
    margin: 0 0 1.4em 0;
    letter-spacing: 0.2em;
    font-family: 'Carrois Gothic', sans-serif;
	font-size: 1.7em;
    position: relative;
}

#plan h2:after, #plan h2:before {
    background-color: rgba(39,43,38,1);
    content: "";
    height: 0.01em;
    position: absolute;
    top: 0.6em;
    width: 2em;   
}

#plan h2:after { 
    background-image: -webkit-gradient(linear, left top, right top, rgba(39,43,38,1),rgba(255,255,255,1));
    background-image: -webkit-linear-gradient(left, rgba(39,43,38,1),rgba(255,255,255,1));
    background-image: -moz-linear-gradient(left, rgba(39,43,38,1),rgba(255,255,255,1));
    background-image: -ms-linear-gradient(left, rgba(39,43,38,1),rgba(255,255,255,1));
    background-image: -o-linear-gradient(left, rgba(39,43,38,1),rgba(255,255,255,1));
    background-image: linear-gradient(left, rgba(39,43,38,1),rgba(255,255,255,1));     
    right: 0;
}

#plan h2:before {
    background-image: -webkit-gradient(linear, right top, left top, rgba(39,43,38,1),rgba(255,255,255,1));
    background-image: -webkit-linear-gradient(right, rgba(39,43,38,1),rgba(255,255,255,1));
    background-image: -moz-linear-gradient(right, rgba(39,43,38,1),rgba(255,255,255,1));
    background-image: -ms-linear-gradient(right, rgba(39,43,38,1),rgba(255,255,255,1));
    background-image: -o-linear-gradient(right, rgba(39,43,38,1),rgba(255,255,255,1));
    background-image: linear-gradient(right, rgba(39,43,38,1),rgba(255,255,255,1));
    left: 0;
}