<script type="text/javascript">
$(document).ready(function(){	
	
	var events = {EVENTS};

	
	$('#calendar').datepicker({
        inline: true,
        firstDay: 1,
        showOtherMonths: true,
        dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
		beforeShowDay: function(date) {
			var result = [true, '', null];
			var matching = $.grep(events, function(event) {
				return event.Date.valueOf() === date.valueOf();
			});
			if (matching.length)
			{
				result = [true, 'highlight', null];
			}
			return result;
		},
		onSelect: function(dateText) {
			var date, 
				selectedDate = new Date(dateText),
				i = 0, 
				event = null;
			while (i < events.length && !event) 
			{
				date = events[i].Date;
				
				if (selectedDate.valueOf() === date.valueOf())
				{
					event = events[i];
				}
				i++;
				}
				if (event) {
					$('#events').text("");
					$('#events').append('<p>' + event.Title + '</p>');
				}
				else
				{
					$('#events').text("");
				}
			}
		});
	
    $('#planner').multiDatesPicker({
        firstDay: 1,
        showOtherMonths: true,
        dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
    });

 });
</script>
<link rel="stylesheet" type="text/css" href="{TEMPLATE_DIR}jquery-cal.css">
<section>
	<h1>Your Calendar of Events</h1>
	<div id="calendar"></div>
	<h2>Events Planned</h2>
	<div id="events"></div>
</section>
	
