<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<title>PLANit! | {TITLE} </title>
	<meta name="Author" content="Alexis Moore and Laura Cerrito" />
	<link rel="stylesheet" type="text/css" href="{TEMPLATE_DIR}style.css">
	<link rel="stylesheet" type="text/css" href="{TEMPLATE_DIR}jquery-{CAL}.css">
	
	<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.10.2.custom.js"></script>
	<script type="text/javascript" src="js/jquery-ui.multidatespicker.js"></script>
	<script type="text/javascript" src="js/jquery.multiselect.js"></script>
    

	</head>
<body>
	<header>
		<h1>Plan<b>it</b></h1>
		<!-- BEGIN user_controls -->
		<a href="calendar.php">Calendar</a>
		<a href="plan.php">Plan Something</a>
		<!-- END user_controls -->
		<!-- BEGIN account_nav -->
		<a href="login.php">Login</a>
		<a href="register.php">Sign Up</a>
		<!-- END account_nav -->
		<!-- BEGIN logout_btn -->
		<a href="login.php?logout=true">Logout</a>
		<!-- END logout_btn -->

	</header>
