<section id="calendar">
	<form id="login" method = "post">
		<h2>Login In</h2>
			<fieldset id="inputs">
				<input type="text" id="username" name="user" placeholder="Username" autofocus required/>
				<input type="password" id="password" name="pass" placeholder="Password" required/>
			</fieldset>
			<fieldset id="actions">
				<input type="submit" value="Log In" id="submit" name="login"/><br />
				<p><a href="forgot.php">Forgot Password?</a> | <a href="register.php">Register</a></p>
			</fieldset>
	</form>
</section>
	
