
<section>
	<form id="plan">
		<h2>Plan Something</h2>
			<fieldset id="inputs">
				<input type="text" id="planner" placeholder="When?" required/>
				<input type="text" id="where" placeholder="Where?" required/>
				<input type="text" id="what" placeholder="What?" required/>
				<input type="text" id="invite" placeholder="With Who?" required/>
				<textarea id="comments" placeholder="Comments" /></textarea>
			</fieldset>
			<fieldset id="actions">
				<input type="submit" value="Plan It!" id="submit"/>
			</fieldset>
	</form>
</section>
	
