
<section>
	<form id="plan" method="post">
		<h2>Plan Something</h2>
			<fieldset id="inputs">
				<input type="text" id="what" name = "what" placeholder="What?" required/>
				<input type="text" name = "when" id="planner" placeholder="When?" required/>
				<select name = "time[]" multiple>
					<option value="1">12:00AM</option>
					<option value="2">1:00AM</option>
					<option value="3">2:00AM</option>
					<option value="4">3:00AM</option>
					<option value="5">4:00AM</option>
					<option value="6">5:00AM</option>
					<option value="7">6:00AM</option>
					<option value="8">7:00AM</option>
					<option value="9">8:00AM</option>
					<option value="10">9:00AM</option>
					<option value="11">10:00AM</option>
					<option value="12">11:00AM</option>
					<option value="13">12:00PM</option>
					<option value="14">1:00PM</option>
					<option value="15">2:00PM</option>
					<option value="16">3:00PM</option>
					<option value="17">4:00PM</option>
					<option value="18">5:00PM</option>
					<option value="19">6:00PM</option>
					<option value="20">7:00PM</option>
					<option value="21">8:00PM</option>
					<option value="22">9:00PM</option>
					<option value="23">10:00PM</option>
					<option value="24">11:00PM</option>
				</select>
				<input type="text" id="where" name = "where" placeholder="Where?" required/>
				<input type="text" id="invite" name = "who" placeholder="With Who? (Please seperate emails by ; )" required/>
				<textarea id="comments" name="comments" placeholder="Comments" /></textarea>
			</fieldset>
			<fieldset id="actions">
				<input type="submit" value="Plan It!" name="plan" id="submit"/>
			</fieldset>
	</form>
</section>
	
