
<section>
	<form id="plan">
		<h2>Plan Something</h2>
			<fieldset id="inputs">
				<input type="text" id="planner" placeholder="When?" required/>
				<ul id="selectable">
						<li>12AM</li>
						<li>01AM</li>
						<li>02AM</li>
						<li>03AM</li>
						<li>04AM</li>
						<li>05AM</li>
						<li>06AM</li>
						<li>07AM</li>
						<li>08AM</li>
						<li>09AM</li>
						<li>10AM</li>
						<li>11AM</li>
						<li>12PM</li>
						<li>01PM</li>
						<li>02PM</li>
						<li>03PM</li>
						<li>04PM</li>
						<li>05PM</li>
						<li>06PM</li>
						<li>07PM</li>
						<li>08PM</li>
						<li>09PM</li>
						<li>10PM</li>
						<li>11PM</li>
					</ul>
				<input type="text" id="where" placeholder="Where?" required/>
				<input type="text" id="what" placeholder="What?" required/>
				<input type="text" id="invite" placeholder="With Who?" required/>
				<textarea id="comments" placeholder="Comments" /></textarea>
			</fieldset>
			<fieldset id="actions">
				<input type="submit" value="Plan It!" id="submit"/>
			</fieldset>
	</form>
</section>
	
