
<section>
	<form id="plan">
		<h2>Plan Something</h2>
			<fieldset id="inputs">
				<input type="text" id="planner" placeholder="When?" required/>
				<select id="hour">
					<option value="1">01</option>
					<option value="2">02</option>
					<option value="3">03</option>
					<option value="4">04</option>
					<option value="5">05</option>
					<option value="6">06</option>
					<option value="7">07</option>
					<option value="8">08</option>
					<option value="9">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select>
				<select id="minute">
					<option value="1">00</option>
					<option value="2">10</option>
					<option value="3">15</option>
					<option value="4">20</option>
					<option value="5">30</option>
					<option value="6">40</option>
					<option value="6">45</option>
					<option value="8">50</option>
				</select>
				<select id="AMPM">
					<option value="1">AM</option>
					<option value="2">PM</option>
				</select>
				<input type="text" id="where" placeholder="Where?" required/>
				<input type="text" id="what" placeholder="What?" required/>
				<input type="text" id="invite" placeholder="With Who?" required/>
				<textarea id="comments" placeholder="Comments" /></textarea>
			</fieldset>
			<fieldset id="actions">
				<input type="submit" value="Plan It!" id="submit"/>
			</fieldset>
	</form>
</section>
	
