
<section>
	<form id="register">
		<h2>Registration</h2>
			<fieldset id="inputs">
				<input type="text" id="user" placeholder="Username" required/>
				<input type="text" id="email" placeholder="Email Address" required/>
				<input type="text" id="email_conf" placeholder="Confirm Email" required/>
				<input type="password" id="pass" placeholder="Password" required/>
				<input type="password" id="pass_conf" placeholder="Confirm Password" required/>
				<input type="text" id="fname" placeholder="First Name" required/>
				<input type="text" id="lname" placeholder="Last Name" required/>
				<input type="password" id="company" placeholder="Company" />
			</fieldset>
			<fieldset id="actions">
				<input type="submit" value="Register" id="submit"/>
			</fieldset>
	</form>
</section>
	
